#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  
}
.login-page {
  border: 1px solid rgb(179, 171, 171);
  padding: 20px;
  border-radius: 10px;
}

.login-page form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
