#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.auth-page {
  border: 1px solid #383232;
  padding: 25px 40px;
  border-radius: 10px;
  background-color: #242424;
  width: 320px;
  margin: auto;
}

.auth-page form {
  display: flex;
  flex-direction: column;
}

.auth-page label {
  text-align: left;
  font-size: 0.85rem;
  color: #aaa;
  margin-top: 0.5rem;
  margin-bottom: 5px;
}

.auth-page input {
  padding: 11px 15px;
  border: 1px solid #3d3535;
  border-radius: 8px;
  background: #1a1a1a;
  color: #e7dfdf;
  font-size: 13px;
  outline: none;
  transition: border-color 0.2s;
  width: 100%;
  box-sizing: border-box;
}

.auth-page input:focus {
  border-color: #646cff;
}

.auth-page button {
  margin-top: 10px;
}

.auth-page p {
  font-size: 12px;
}

.auth-toggle span {
  color: #646cff;
  cursor: pointer;
}

.auth-toggle span:hover {
  text-decoration: underline;
}

